[Unit]
Description=Verifie oci-grabber toutes les 10 min

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
